examples/batch-optimization.json
[
    {
        "id": "leafengines-config-1",
        "type": "leafengines-config",
        "name": "Batch Optimization Demo",
        "apiKey": "ak_sandbox_your_key_here",
        "apiUrl": "https://[project].supabase.co/functions/v1",
        "tier": "starter"
    },
    {
        "id": "inject-1",
        "type": "inject",
        "name": "Start Field Analysis",
        "props": [
            {
                "p": "payload",
                "v": "{\"county_fips\": \"48453\", \"crop_type\": \"corn\", \"acreage\": 100}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "function-prepare-batch"
            ]
        ]
    },
    {
        "id": "function-prepare-batch",
        "type": "function",
        "name": "Prepare Batch Requests",
        "func": "// Prepare multiple API calls for batching\nconst input = msg.payload;\n\n// Create batch requests\nmsg.batchRequests = [\n    {\n        endpoint: 'get-soil-data',\n        params: { county_fips: input.county_fips }\n    },\n    {\n        endpoint: 'territorial-water-quality',\n        params: { fips: input.county_fips }\n    },\n    {\n        endpoint: 'live-agricultural-data',\n        params: { \n            county_fips: input.county_fips,\n            data_types: ['weather', 'soil_moisture'],\n            forecast_days: 3\n        }\n    },\n    {\n        endpoint: 'carbon-credit-calculator',\n        params: {\n            county_fips: input.county_fips,\n            acreage: input.acreage,\n            crop_type: input.crop_type\n        }\n    }\n];\n\n// Store original input for later\nmsg.originalInput = input;\nmsg.batchCount = msg.batchRequests.length;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "split-1"
            ]
        ]
    },
    {
        "id": "split-1",
        "type": "split",
        "name": "Split Batch Requests",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "function-create-requests"
            ]
        ]
    },
    {
        "id": "function-create-requests",
        "type": "function",
        "name": "Create Individual Requests",
        "func": "// Create individual request messages from batch\nconst batchIndex = msg.index;\nconst batchRequest = msg.originalInput.batchRequests[batchIndex];\n\nmsg.endpoint = batchRequest.endpoint;\nmsg.payload = batchRequest.params;\nmsg.batchInfo = {\n    index: batchIndex,\n    total: msg.originalInput.batchCount,\n    batchId: msg.originalInput.batchId || `batch_${Date.now()}`\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 160,
        "wires": [
            [
                "leafengines-batch-1"
            ]
        ]
    },
    {
        "id": "leafengines-batch-1",
        "type": "leafengines-batch",
        "name": "Batch Optimizer",
        "config": "leafengines-config-1",
        "batchSize": 5,
        "maxConcurrent": 2,
        "autoBatch": true,
        "x": 920,
        "y": 160,
        "wires": [
            [
                "join-1"
            ]
        ]
    },
    {
        "id": "join-1",
        "type": "join",
        "name": "Join Batch Results",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduce": false,
        "reduceRight": false,
        "reduceInit": "",
        "reduceInitType": "",
        "x": 1120,
        "y": 160,
        "wires": [
            [
                "function-process-results"
            ]
        ]
    },
    {
        "id": "function-process-results",
        "type": "function",
        "name": "Process Batch Results",
        "func": "// Combine and analyze batch results\nconst results = msg.payload;\nconst input = msg.originalInput;\n\n// Extract individual results\nconst soilData = results[`leafengines/get-soil-data`];\nconst waterData = results[`leafengines/territorial-water-quality`];\nconst weatherData = results[`leafengines/live-agricultural-data`];\nconst carbonData = results[`leafengines/carbon-credit-calculator`];\n\n// Calculate field health score\nlet healthScore = 50; // Base score\n\nif (soilData) {\n    // Soil quality contributes 30%\n    const soilScore = calculateSoilScore(soilData);\n    healthScore += soilScore * 0.3;\n}\n\nif (waterData) {\n    // Water quality contributes 25%\n    const waterScore = calculateWaterScore(waterData);\n    healthScore += waterScore * 0.25;\n}\n\nif (weatherData) {\n    // Weather conditions contribute 20%\n    const weatherScore = calculateWeatherScore(weatherData);\n    healthScore += weatherScore * 0.2;\n}\n\nif (carbonData) {\n    // Carbon potential contributes 25%\n    const carbonScore = calculateCarbonScore(carbonData);\n    healthScore += carbonScore * 0.25;\n}\n\n// Cap score at 100\nhealthScore = Math.min(100, Math.max(0, healthScore));\n\n// Generate recommendations\nconst recommendations = [];\n\nif (soilData && soilData.organic_matter < 2.0) {\n    recommendations.push(\"Add organic matter to improve soil health\");\n}\n\nif (waterData && waterData.water_quality_index < 70) {\n    recommendations.push(\"Monitor water quality - consider filtration\");\n}\n\nif (carbonData && carbonData.certification_eligible) {\n    recommendations.push(`Eligible for carbon credits: $${carbonData.total_value.toFixed(2)} potential`);\n}\n\n// Prepare final output\nmsg.payload = {\n    field_analysis: {\n        county_fips: input.county_fips,\n        crop_type: input.crop_type,\n        acreage: input.acreage,\n        health_score: Math.round(healthScore),\n        health_category: getHealthCategory(healthScore),\n        analysis_timestamp: new Date().toISOString()\n    },\n    data_sources: {\n        soil: soilData ? 'available' : 'missing',\n        water: waterData ? 'available' : 'missing',\n        weather: weatherData ? 'available' : 'missing',\n        carbon: carbonData ? 'available' : 'missing'\n    },\n    recommendations: recommendations,\n    batch_optimization: {\n        requests: input.batchCount,\n        rate_limit_impact: \"1 request (batched)\",\n        savings: `${Math.round((1 - 1/input.batchCount) * 100)}% reduction vs individual calls`\n    }\n};\n\n// Add detailed data if available\nif (soilData) msg.payload.detailed_soil = soilData;\nif (waterData) msg.payload.detailed_water = waterData;\nif (weatherData) msg.payload.detailed_weather = weatherData;\nif (carbonData) msg.payload.detailed_carbon = carbonData;\n\nmsg.topic = \"field/analysis\";\n\nreturn msg;\n\n// Helper functions\nfunction calculateSoilScore(soil) {\n    let score = 50;\n    if (soil.organic_matter >= 3.0) score += 20;\n    else if (soil.organic_matter >= 2.0) score += 10;\n    \n    if (soil.ph_level >= 6.0 && soil.ph_level <= 7.5) score += 20;\n    else if (soil.ph_level >= 5.5 && soil.ph_level <= 8.0) score += 10;\n    \n    return Math.min(100, score);\n}\n\nfunction calculateWaterScore(water) {\n    let score = water.water_quality_index || 50;\n    if (water.safety_status === 'safe') score += 20;\n    return Math.min(100, score);\n}\n\nfunction calculateWeatherScore(weather) {\n    let score = 50;\n    if (weather.current_weather && !weather.current_weather.extreme_conditions) score += 30;\n    if (weather.weather_forecast && weather.weather_forecast.favorable_days > 2) score += 20;\n    return Math.min(100, score);\n}\n\nfunction calculateCarbonScore(carbon) {\n    let score = 50;\n    if (carbon.certification_eligible) score += 30;\n    if (carbon.credit_value > 15) score += 20;\n    return Math.min(100, score);\n}\n\nfunction getHealthCategory(score) {\n    if (score >= 80) return 'Excellent';\n    if (score >= 60) return 'Good';\n    if (score >= 40) return 'Fair';\n    return 'Needs Improvement';\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 160,
        "wires": [
            [
                "debug-1",
                "email-1"
            ]
        ]
    },
    {
        "id": "debug-1",
        "type": "debug",
        "name": "Field Analysis Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 120,
        "wires": []
    },
    {
        "id": "email-1",
        "type": "e-mail",
        "name": "Send Analysis Report",
        "server": "smtp.gmail.com",
        "port": "587",
        "secure": false,
        "tls": true,
        "namex": "",
        "dname": "",
        "x": 1520,
        "y": 200,
        "wires": []
    },
    {
        "id": "comment-1",
        "type": "comment",
        "name": "LeafEngines Batch Optimization Demo",
        "info": "This flow demonstrates the batch optimization described in the LeafEngines white paper (Section 4.3).\n\nKey Features:\n1. **Batch Optimization**: 4 API calls → 1 rate-limited request\n2. **JSON-RPC Batching**: Uses MCP protocol for efficient batch processing\n3. **Rate Limit Savings**: 75% reduction in rate limit usage\n4. **Comprehensive Analysis**: Combines soil, water, weather, and carbon data\n5. **Field Health Scoring**: Calculates overall field health score\n\nBatch Optimization Benefits:\n- **Free Tier**: 10 requests/min → effectively 40 requests/min with batching\n- **Starter Tier**: 30 requests/min → effectively 120 requests/min with batching\n- **Pro Tier**: 100 requests/min → effectively 400 requests/min with batching\n- **Enterprise Tier**: 500 requests/min → effectively 2000 requests/min with batching\n\nThis demonstrates the \"Batch optimization tip\" from the white paper Table 8.\n\nSetup:\n1. Configure API key in config node\n2. Adjust field parameters as needed\n3. Configure email node for reports\n4. Deploy and run!",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug-2",
        "type": "debug",
        "name": "Individual Batch Requests",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug-3",
        "type": "debug",
        "name": "Individual Batch Responses",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 100,
        "wires": []
    }
]