examples/mcp-integration.json
[
    {
        "id": "leafengines-config-1",
        "type": "leafengines-config",
        "name": "MCP Integration",
        "apiKey": "ak_sandbox_your_key_here",
        "apiUrl": "https://[project].supabase.co/functions/v1",
        "tier": "pro"
    },
    {
        "id": "http-in-1",
        "type": "http in",
        "name": "MCP Request",
        "url": "/mcp-server",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "function-parse-mcp"
            ]
        ]
    },
    {
        "id": "function-parse-mcp",
        "type": "function",
        "name": "Parse MCP Request",
        "func": "// Parse JSON-RPC 2.0 MCP request\nconst request = msg.payload;\nmsg.mcp = {\n    jsonrpc: request.jsonrpc,\n    id: request.id,\n    method: request.method,\n    params: request.params\n};\n\n// Route based on method\nif (request.method === 'tools/list') {\n    msg.topic = 'mcp/tools/list';\n    msg.endpoint = null;\n} else if (request.method === 'tools/call') {\n    msg.topic = 'mcp/tools/call';\n    msg.endpoint = request.params.name;\n    msg.payload = request.params.arguments;\n} else {\n    msg.topic = 'mcp/unknown';\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 160,
        "wires": [
            [
                "switch-mcp-method"
            ]
        ]
    },
    {
        "id": "switch-mcp-method",
        "type": "switch",
        "name": "Route MCP Method",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "mcp/tools/list",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mcp/tools/call",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 520,
        "y": 160,
        "wires": [
            [
                "function-tools-list"
            ],
            [
                "leafengines-query-1"
            ]
        ]
    },
    {
        "id": "function-tools-list",
        "type": "function",
        "name": "Generate Tools List",
        "func": "// Generate MCP tools list response\nconst tools = [\n    {\n        name: 'get_soil_data',\n        description: 'USDA soil composition by county FIPS',\n        inputSchema: {\n            type: 'object',\n            properties: {\n                county_fips: {\n                    type: 'string',\n                    pattern: '^[0-9]{5}$',\n                    description: '5-digit county FIPS code'\n                }\n            },\n            required: ['county_fips']\n        }\n    },\n    {\n        name: 'county_lookup',\n        description: 'Geographic resolution (name/state → FIPS code)',\n        inputSchema: {\n            type: 'object',\n            properties: {\n                term: {\n                    type: 'string',\n                    description: 'County name or search term'\n                },\n                state: {\n                    type: 'string',\n                    description: 'State abbreviation (optional)',\n                    pattern: '^[A-Z]{2}$'\n                }\n            },\n            required: ['term']\n        }\n    },\n    {\n        name: 'territorial_water_quality',\n        description: 'EPA water quality monitoring',\n        inputSchema: {\n            type: 'object',\n            properties: {\n                fips: {\n                    type: 'string',\n                    pattern: '^[0-9]{5}$',\n                    description: '5-digit county FIPS code'\n                }\n            },\n            required: ['fips']\n        }\n    },\n    {\n        name: 'agricultural_intelligence',\n        description: 'AI crop recommendations',\n        inputSchema: {\n            type: 'object',\n            properties: {\n                county_fips: {\n                    type: 'string',\n                    pattern: '^[0-9]{5}$',\n                    description: '5-digit county FIPS code'\n                },\n                crop_type: {\n                    type: 'string',\n                    description: 'Type of crop (e.g., corn, soybeans, wheat)'\n                },\n                query: {\n                    type: 'string',\n                    description: 'Natural language query about the crop'\n                }\n            },\n            required: ['county_fips', 'crop_type', 'query']\n        }\n    }\n];\n\n// Format as JSON-RPC 2.0 response\nmsg.payload = {\n    jsonrpc: '2.0',\n    id: msg.mcp.id,\n    result: {\n        tools: tools\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 120,
        "wires": [
            [
                "http-response-1"
            ]
        ]
    },
    {
        "id": "leafengines-query-1",
        "type": "leafengines-query",
        "name": "Call LeafEngines API",
        "config": "leafengines-config-1",
        "endpoint": "",
        "method": "POST",
        "autoParse": true,
        "x": 720,
        "y": 200,
        "wires": [
            [
                "function-format-mcp-response"
            ]
        ]
    },
    {
        "id": "function-format-mcp-response",
        "type": "function",
        "name": "Format MCP Response",
        "func": "// Format LeafEngines response as MCP JSON-RPC response\nconst result = msg.payload;\nconst content = [];\n\n// Add main result\ncontent.push({\n    type: 'text',\n    text: JSON.stringify(result, null, 2)\n});\n\n// Add cache info if available\nif (msg.cache) {\n    content.push({\n        type: 'text',\n        text: `\\nCache: ${msg.cache.level} (${msg.cache.age_seconds}s old)`\n    });\n}\n\n// Add confidence intervals if available\nif (msg.confidence) {\n    content.push({\n        type: 'text',\n        text: `\\nConfidence intervals: ${JSON.stringify(msg.confidence, null, 2)}`\n    });\n}\n\n// Format as JSON-RPC 2.0 response\nmsg.payload = {\n    jsonrpc: '2.0',\n    id: msg.mcp.id,\n    result: {\n        content: content\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 200,
        "wires": [
            [
                "http-response-1"
            ]
        ]
    },
    {
        "id": "http-response-1",
        "type": "http response",
        "name": "MCP Response",
        "statusCode": "",
        "headers": {\n            \"content-type\": \"application/json\"\n        },
        "x": 1120,
        "y": 160,
        "wires": []
    },
    {
        "id": "comment-1",
        "type": "comment",
        "name": "LeafEngines MCP Server Integration",
        "info": "This flow implements a Model Context Protocol (MCP) server for LeafEngines.\n\nMCP allows AI agents (Claude Desktop, OpenClaw, etc.) to discover and use\nLeafEngines tools natively without custom integration code.\n\nFeatures:\n- JSON-RPC 2.0 over HTTP\n- Tool discovery via tools/list\n- Tool execution via tools/call\n- Proper error handling\n- Cache and confidence interval reporting\n\nUsage:\n1. Configure with your API key\n2. Deploy the flow\n3. Configure Claude Desktop with:\n   {\n     \"mcpServers\": {\n       \"leafengines\": {\n         \"transport\": \"streamable-http\",\n         \"url\": \"http://your-node-red:1880/mcp-server\",\n         \"headers\": {\n           \"x-api-key\": \"ak_sandbox_your_key_here\"\n         }\n       }\n     }\n   }\n\nAgents can then use LeafEngines tools directly!",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug-1",
        "type": "debug",
        "name": "MCP Requests",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "mcp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug-2",
        "type": "debug",
        "name": "MCP Responses",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 100,
        "wires": []
    }
]